.fade-enter-active, .fade-leave-active
{
  transition: opacity .3s
}
.fade-enter, .fade-leave-active
{
  opacity: 0
}
.slide-fade-enter-active {
  transition: all .3s ease;
}
.slide-fade-leave-active {
  transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-fade-enter, .slide-fade-leave-active {
  padding-left: 10px;
  opacity: 0;
}
.folder_container
{
  overflow: hidden;
  white-space: nowrap;
  background-color: #222;
  cursor: default;
  font-weight: normal;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  color: #cfd2d4;
}
.folder_container:hover
{
  background-color: #f5a623;
  color: #fff;
}
.folder_container .folder_hover
{
  background-color: #f5a623;
  color: #fff;
}
.folder_container span
{
  cursor: pointer;
}
.folder_selected
{
  background-color: #f5a623;
  color: #000;
}
.folder_container .folder_icon{
  background: url(../images/normal_folder.png) no-repeat center center;
  display: inline-block;
  height: 25px;
  width: 16px;
  float:left;
}
.folder_container .folder_name
{
  display:inline-block;
}
.folder_selected .folder_icon
{
    background: url(../images/normal_folder_selected.png)  no-repeat center center;
}

.backup_icon
{
	background-image:url(../images/arrow_left.png);
	background-repeat:no-repeat;
	background-size:9px 13px;
	width:9px;
	height:13px;
	margin-left: 12px;
}
.history_container
{
	color: #636363;
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
	cursor:pointer;
  font-size: 13px;
}
.history_item_container > li + li:before
{
  content: "/";
  padding: 0 3px;
  color: #cccccc;
}
.history_item:hover
{
	color:#f5a623;
}
.history_item
{

}
.history_item, .history_item_container, .history_container, .backup_icon
{
	display:inline-block;
}

.material
{
  width: 90px;
  height: 80px;
  box-sizing: border-box;
  margin: 5px 5px;
  background: #393939;
  position: relative;
}
.material:hover
{
  /*border: 1px solid #f5a634;*/
  background-color: #333;
}
.material .material_status
{
  height:15px;
}
.material .material_icon_container
{
  line-height: 50px;
  text-align: center;
  background-color: #2e2e2e;
}
.material .clipping
{
  background:#f5a623 no-repeat;
}
.material .material_icon_container span
{
  width: 40px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  background-size: contain !important;
}
.material .material_icon_container img
{
  max-width: 90px;
  max-height: 50px;
  vertical-align: middle;
}
.material .material_info
{
  color: #cfd2d4;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  cursor: default;
  height: 15px;
  line-height: 15px;
  position: absolute;
  bottom: 0;
  margin-left: 2px;
}
.material.material_selecting
{
  background-color: #555;
}

.menu_container
{
  position: fixed;
  width: 150px;
  z-index: 1;
  background-color: #ddd;
}
.menu_container .menu_box
{
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border-radius: 4px;
}
.menu_container li
{
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  list-style: none;
  text-align: center;
  vertical-align: center;
  color:#333;
}

.menu_container li:hover
{
  background-color: #f5a623;
  color:#fff;
}
.menu_container a
{
  color:inherit;
  text-decoration: none
}
.menu_container .sub_menu_container
{
  opacity: 0;
  left : 0;
  z-index: -1;
  display: inline-block;
  width: 150px;
  background: #ddd;
  position: absolute;
}
.menu_container li:hover .sub_menu_container
{
  left: 150px;
  opacity: 1;
  transition: all .1s;
  transition-delay: .2s;
}
.select_circle
{
  position: fixed;
  background: rgb(170, 204, 238);
  border: 1px solid rgb(0, 120, 215);
  z-index: 1;
  opacity: .5;
}
