<!DOCTYPE html>
<html onselectstart ='return false' onselect='try{document.selection.empty();}catch(e){}' onmouseup='try{document.selection.empty();}catch(e){}'>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="./css/main.css" rel="stylesheet" />
    <link href="./css/rest.css" rel="stylesheet" />
    <link href="./css/components.css" rel="stylesheet" />
    <script src="./js/lib/vue.js"></script>
    <script src="./js/lib/vuex.js"></script>
    <script src="./js/lib/vue-router.js"></script>
    <script src="./js/lib/vue-resource.js"></script>
    <script src="./js/lib/util.js"></script>
    <script src="./js/store/mutationTypes.js"></script>
    <script src="./js/store/mutations.js"></script>
    <script src="./js/store/actions.js"></script>
    <script src="./js/store/state.js"></script>
    <script src="./js/store/getters.js"></script>
    <script src="./js/store/index.js"></script>
    <script src="./js/components/tree_ctrl.js"></script>
    <script src="./js/components/navPath_ctrl.js"></script>
    <script src="./js/components/material_ctrl.js"></script>
    <script src="./js/plugins/notifyPlugin.js"></script>
</head>
<body>
  <template id="tree_ctrl">
    <li>
      <div :title="node.name" class="folder_container" :class="{folder_selected : node.selected, folder_hover : dragOver}"  @drop.prevent.stop="drop"  @dragend.prevent="dragLeave" @dragleave.prevent="dragLeave" @dragover.prevent="dragOver" @click="click" @dblclick="dblclick" :style="{paddingLeft:20 * node.floor + 'px'}">
        <span class="triangle_icon glyphicon" :class="node.nodes ? 'glyphicon-triangle-right' : 'glyphicon-triangle-right'" @click="nodeToggle(node)"></span>
        <span :class="node.icon" class="folder_icon"> </span>
        <span class="folder_name">{{node.name}}</span>
      </div>
      <ul v-show="node.open">
        <tree-ctrl :data="n" v-for="n in node.children.filter(item=>item.type == 'folder').sort()"></tree-ctrl>
      </ul>
    </li>
  </template>

  <template id="nav_path_ctrl">
  <div class="history_container">
    <span class="backup_icon" @click="backUp"></span>
    <ul class="history_item_container">
      <li class="history_item" @click="click(path)" v-for="path in navPath">
        <a :title="path.name">{{path.name}}</a>
      </li>
    </ul>
  </div>
</template>

<template id="material_ctrl">
    <div class="material fl" :class="{material_selecting : material.checked}" draggable="true" @dblclick="dblclick">
      <div class="material_status">
        <span class="status_item wa"></span>
        <span class="status_item hq"></span>
        <span class="status_item lq"></span>
        <span class="status_item db"></span>
        <span class="status_item p"></span>
        <span class="status_item i"></span>
      </div>
      <div class="material_icon_container" :class="{clipping:material.clipping}"><span v-if="!material.src" :style="{background: 'url(./images/' + material.type + '.png) no-repeat center center'}" ></span><img v-else :src="data.src" onerror="this.src = './images/nostamp.png'"></div>
      <div class="material_info"><span :title="material.name">{{material.name}}</span></div>
    </div>
  </template>
  <div id="app">
    <div class="left_container">
      <div class="logo_box">
        <span>Web Quick Editing</span>
      </div>
      <div class="folder_box">
        <ul>
          <tree-ctrl  :data="node" v-for="node in nodes"></tree-ctrl>
        </ul>
      </div>
    </div>
    <div class="right_container">
      <div class="top_box">
        <div id="div_fullTextSearch"></div>
        <input type="button" class="advance_search" value="Advance Search" @click="advanceSearch"/>
        <input type="button" class="task_monitor" value="Task Monitor" @click="taskMonitor"/>
        <div class="materials_count fr">
          <span class="sort_icon">s</span>
          <span class="refresh_icon">f</span>
          <span class="list_icon">l</span>
          <span class="thumb_icon">t</span>
          <span >duanxin</span>
          <span class="xx_icon">V</span>
        </div>
      </div>
      <div class="materials_container">
        <div class="toolbar_box">
          <nav-path-ctrl></nav-path-ctrl>
          <div class="materials_count fr">
            <span class="sort_icon">s</span>
            <span class="refresh_icon">f</span>
            <span class="list_icon">l</span>
            <span class="thumb_icon">t</span>
            <span class="text_nomarl">Total:</span>
            <span class="text_strong">{{materialsCount}}</span>
          </div>
        </div>
        <div class="material_box clearfix">
          <material-ctrl :data="m" v-for="m in materials">
          </material-ctrl>
        </div>
      </div>
    </div>
  </div>
  <script src="./js/app.js"></script>
</body>
</html>
